// Variables
$primary-color: #0f0f0f;
$secondary-color: #fad586;
$tertiary-color: #e6e6e6;
$hero-image: url('../img/profile-hero-lighter.jpg');
$collage-image: url('../img/collage.jpg');

// Functions
@mixin easeOut {
  transition: all .5s ease-out;
}

// Media Queries
@mixin mediaSm {
  @media screen and (max-width: 480px) {
    @content;
  }
}
@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    @content;
  }
}
@mixin mediaXl {
  @media screen and (min-width: 1025px) {
    @content;
  }
}