// Variables
$primary-color: #0f0f0f;
$secondary-color: #fad586;
$tertiary-color: #e6e6e6;
$hero-image: url('../img/profile-hero.png');
$collage-image: url('../img/collage.jpg');

// Functions
@mixin easeOut {
  transition: all .5s ease-out;
}
