// Widescreens
@include mediaXl {

}

// Desktops & Laptops
@include mediaLg {
  main {
    &.life {
      section {
        h3 {
          margin-bottom: 0;
          margin-top: 5%;
        }
        &#timeline {
          grid-template-columns: 1fr !important;
          ul {
            li {
              grid-template-columns: 15% 85% !important;
              padding-right: 5%;
            }
          }
        }
        &#interests {
          grid-template-columns: 1fr !important;
        }
      }
    }
  }
}

// Tablets
@include mediaMd {
  header {
    &.home {
      visibility: visible !important;
    }
  }
  main {
    &.home {
      grid-template-columns: 1fr !important;
      height: 100vh !important;
      justify-content: center;
    }
    #social {
      display: none;
    }
    #headings {
      margin-bottom: 5%;
    }
    h1, h4 {
      &.lg-heading {
        font-size: 4em !important;
        text-align: center;
      }
      &.sm-heading {
        font-size: 1.5em !important;
        text-align: center;
      }
    }
    &.life {
      section {
        h3 {
          margin-bottom: 0;
          margin-top: 5%;
        }
        &#timeline {
          grid-template-columns: 1fr !important;
          ul {
            li {
              grid-template-columns: 15% 85% !important;
              padding-right: 5%;
            }
          }
        }
        &#interests {
          grid-template-columns: 1fr !important;
        }
      }
    }
  }
  footer {
    &.home {
      display: none !important;
    }
  }
}

// Smartphones
@include mediaSm {
  main {
    #headings {
      margin-bottom: 15%;
    }
    h1, h4 {
      &.lg-heading {
        font-size: 3.1em !important;
      }
      &.sm-heading {
        font-size: 1.3em !important;
      }
    }
  }
}