.border {
  border: 1px #fff solid;
}

@import "config";

// General Styles
* {
  box-sizing: border-box;
}
body {
  background: $primary-color;
  color: $tertiary-color;
  height: 100%;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

// Headings
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 5em;
    font-family: "Kanit", sans-serif;
    color: $secondary-color;
  }
  &.sm-heading {
    font-size: 2em;
    font-weight: 200;
  }
  span {
    color: $secondary-color;
  }
}

// Main
main {
  &#home {
    height: 80vh;
    background: $hero-image no-repeat center;
    background-size: cover;
    padding: 0 2%;
    display: flex;
  }
  #headings {
    align-self: flex-end;
  }
}

// Footer
footer {
  height: 20vh;
  background: $tertiary-color;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;

  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      color: $primary-color;
    }
  }
  .home-link {
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-size: 2.3rem;
    color: $primary-color;
  }
}
