.border {
  border: 1px #fff solid;
}

@import 'config';
@import 'menu';
@import 'mobile';

// General Styles
* {
  box-sizing: border-box;
}
body {
  background: $primary-color;
  color: $tertiary-color;
  height: 100vh;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

// Headings
h1, h4 {
  &.lg-heading {
    margin: 0;
    font-size: 5em;
    font-family: 'Kanit', sans-serif;
    color: $secondary-color;
  }
  &.sm-heading {
    margin: 0;
    font-size: 2em;
    font-weight: 200;
  }
  span {
    color: $secondary-color;
  }
}

// Header
header {
  margin: 0;
  padding: 0;
  &.home {
    visibility: hidden;
  }
}

// Main
main {
  &.home {
    height: 80vh;
    background: $hero-image no-repeat center;
    background-size: cover;
    padding: 0 2%;
    display: grid;
    grid-template-columns: 75% 25%;
    #headings {
      align-self: end;
    }
    #social {
      align-self: end;
      justify-self: end;
      margin-bottom: 25px;
      a {
        margin-left: 10px;
        color: $tertiary-color;
        &:hover {
          color: $secondary-color;
          @include easeOut;
        }
      }
    }
    
  }
  &.contact {
    height: 100vh;
  }
  &.life {
    height: 100vh;
    background: $collage-image no-repeat center;
    background-size: cover;
    padding: 3%;
    display: grid;
    grid-template-rows: 65% 35%;
    h3 {
      font-size: 2em;
      text-align: center;
      font-weight: 100;
      color: $secondary-color;
    }
    section {
      &#timeline {
        display: grid;
        grid-template-columns: 1fr 6fr;
        ul {
          list-style-type: none;
          padding: 0;
          li {
            display: grid;
            grid-template-columns: 10% 90%;
            .time {
              font-family: 'Roboto Mono', monospace;
              color: $secondary-color;
              text-align: end;
              padding-right: 25px;
            }
          }
          strong {
            color: $secondary-color;
          }
        }
      }
      &#interests {
        display: grid;
        grid-template-columns: 1fr 6fr;
        div {
          padding: 2%;
        }
        p {
          line-height: 1.5;
          padding-right: 2%;
        }
      }
    }
  }
}

// Footer
footer {
  &.home {
    height: 20vh;
    background: $tertiary-color;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;

    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        color: $primary-color;
      }
    }
    .home-link {
      font-family: 'Roboto Mono', monospace;
      font-weight: 400;
      font-size: 2.3rem;
      color: $primary-color;
    }
  }
}

