.border {
  border: 1px #fff solid;
}

@import 'config';
@import 'menu';
@import 'mobile';

// General Styles
* {
  box-sizing: border-box;
}
body {
  background: $primary-color;
  color: $tertiary-color;
  height: 100vh;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

// Headings
h1, h4 {
  &.lg-heading {
    margin: 0;
    font-size: 5em;
    font-family: 'Kanit', sans-serif;
    color: $secondary-color;
  }
  &.sm-heading {
    margin: 0;
    font-size: 2em;
    font-weight: 200;
  }
  span {
    color: $secondary-color;
  }
}

// Header
header {
  margin: 0;
  padding: 0;
  &.home {
    visibility: hidden;
  }
}

// Main
main {
  &.home {
    height: 80vh;
    background: $hero-image no-repeat center;
    background-size: cover;
    padding: 0 2%;
    display: grid;
    grid-template-columns: 75% 25%;
    #headings {
      align-self: end;
    }
    #social {
      align-self: end;
      justify-self: end;
      margin-bottom: 25px;
      a {
        margin-left: 10px;
        color: $tertiary-color;
        &:hover {
          color: $secondary-color;
          @include easeOut;
        }
      }
    }
    
  }

  &.work {
    display: grid;
    grid-auto-rows: minmax(auto, auto);
    padding: 5% 1%;
    section {
      display: grid;
      grid-template-columns: 15% 85%;
      margin-bottom: 5%;
      h3 {
        font-size: 2em;
        text-align: center;
        font-weight: 100;
        color: $secondary-color;
        margin: 0;
      }
      div {
        &#skills {
          height: 15vh;
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          padding: 0 3%;
          h5 {
            margin: 0;
            font-family: 'Roboto Mono', monospace;
          }
        }
        &#projects {
          hr {
            width: 85%;
            border: 1px solid $secondary-color;
            margin: 50px 0 25px 25px;
            &:nth-child(1) {
              margin-top: 0 !important;
            }
          }
          .row {
            display: grid;
            grid-template-columns: 75% 25%;
            grid-auto-rows: minmax(auto, auto);
            margin-bottom: 30px;
            padding-left: 10px;
            h2 {
              margin-top: 0;
            }
            p {
              padding-right: 5%;
              line-height: 1.5;
            }
            a {
              margin: 5px 10px;
              float: right;
              color: $secondary-color;
              text-decoration: none;
              padding: 5px;
              &:hover {
                background: $secondary-color;
                color: $primary-color;
                border-radius: 5px;
              }
            }
            img {
              align-self: center;
              max-height: 150px;
              max-width: 150px;
              object-fit: contain;
              border-radius: 10px;
              margin-left: 10%;
            }
          }
        }
      }
    }
  }

  &.contact {
    height: 100vh;
    img {
      height: 250;
      width: 250;
    }
  }

  &.life {
    height: 100vh;
    background: $collage-image no-repeat center;
    background-size: cover;
    padding: 3%;
    display: grid;
    grid-auto-rows: minmax(auto, auto);
    h3 {
      font-size: 2em;
      text-align: center;
      font-weight: 100;
      color: $secondary-color;
    }
    section {
      &#timeline {
        display: grid;
        grid-template-columns: 1fr 6fr;
        ul {
          list-style-type: none;
          padding: 0;
          li {
            display: grid;
            grid-template-columns: 15% 85%;
            .time {
              font-family: 'Roboto Mono', monospace;
              color: $secondary-color;
              text-align: end;
              padding-right: 25px;
            }
          }
          strong {
            color: $secondary-color;
          }
        }
      }
      &#interests {
        display: grid;
        grid-template-columns: 1fr 6fr;
        div {
          padding: 2%;
        }
        p {
          line-height: 1.5;
          padding-right: 2%;
        }
      }
    }
  }
}

// Footer
footer {
  &.home {
    height: 20vh;
    background: $tertiary-color;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;

    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        text-underline-offset: 5px;
        color: $primary-color;
      }
    }
    .home-link {
      font-family: 'Roboto Mono', monospace;
      font-weight: 400;
      font-size: 2.3rem;
      color: $primary-color;
    }
  }
}

